@use "./variables/colors";

// #root {
//   background-color: colors.$primary-color;
// }

// styles to fill out the page properly and main content too -----
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
// I have to apply this style to every page in order for main content to fill out the whole page
.main_content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 3% 5%;
  h1 {
    color: colors.$secondary-color;
    max-width: 40rem;
    font-size: 36px;
  }
}
// header styles -----
.header_container {
  background-color: colors.$primary-color;
}

.header_content {
  display: flex;
  justify-content: space-between;
  padding: 2%;
  color: colors.$primary-color-text;
}
// I target all <img> elements inside element with class "header_logo"
.header_logo {
  img {
    height: 2rem;
  }
}

.header_navlinks {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  a {
    font-size: 18px;
  }
}
// ----- ----- -----

// introduction section
.greetings_heading {
  span {
    text-decoration: underline;
    color: colors.$primary-color-headings;
  }

  img {
    height: 2rem;
  }
}

.introduction_section {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  padding: 4% 0;

  &_card {
    width: 40vw;
    height: 35vh;
    border-radius: 30px;
    overflow: hidden;

    &_title {
      // display and position
      position: absolute;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      // size props
      width: 40vw;
      height: inherit;
      border-radius: 30px;

      // CRUCIAL FOR ANIMATION TO BE SUFFICIENT AND FOR CONTENT NOT TO CANCEL :hover
      z-index: 1;

      // text
      font-size: 24px;
      color: colors.$primary-color-text;

      background-color: colors.$primary-color;

      transition: all 1.5s;
    }

    .left_card {
      display: flex;
      min-width: 90vw;
      height: inherit;
      justify-content: flex-start;
    }

    .right_card {
      display: flex;
      min-width: 90vw;
      height: inherit;
      justify-content: flex-end;
    }

    //
    .trigger_left {
      animation-name: hoverLeft;
      animation-duration: 1.5s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      animation-play-state: running;
    }

    .cancel_left {
      animation-name: cancelLeft;
      animation-play-state: running;
    }

    .trigger_right {
      animation-name: hoverRight;
      animation-duration: 1.5s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      animation-play-state: running;
    }

    .cancel_right {
      animation-name: cancelRight;
      animation-play-state: running;
    }

    &_content {
      // display and position
      display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      // otherwise the content will be invisible
      position: absolute;

      // size props
      width: 40vw;
      height: inherit;
    }
  }
}

// description of animation for "animation" property
@keyframes hoverLeft {
  from {
    transform: translateX(0vw);
  }

  to {
    transform: translateX(50vw);
  }
}

@keyframes cancelLeft {
  from {
    transform: translateX(50vw);
  }

  to {
    transform: translateX(0vw);
  }
}

@keyframes hoverRight {
  from {
    transform: translateX(0vw);
  }

  to {
    transform: translateX(-50vw);
  }
}

@keyframes cancelRight {
  from {
    transform: translateX(-50vw);
  }

  to {
    transform: translateX(0vw);
  }
}

// ----- ----- -----

// footer styles -----
.footer_container {
  background-color: colors.$primary-color;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  padding: 3% 2%;

  color: colors.$primary-color-text;

  &_copyright {
    display: flex;
    flex-flow: column;
    justify-content: center;
    a {
      text-decoration: underline;
    }
  }

  &_socials {
    display: flex;
    flex-flow: column;
    justify-content: center;
    row-gap: 0.4rem;

    img {
      height: 1rem;
      margin-left: 1rem;
    }

    &_items {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}
// ----- ----- -----
